img.img-thumbnail{
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;

}

.nv-file-over {
  border: dotted 3px SteelBlue;
}

/*hiding text on input box*/
input[type=file]{
    color: transparent; 
}

.not-approved{
    opacity: 0.25;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: crimson;
}
